<%= wicked_pdf_stylesheet_link_tag 'application' %>

<body class="<%= body_class %> pdf">
  <h1><%= t '.title', date: l(@filter.until_date) %></h1>

  <%= render partial: 'table', formats: [:html] %>
</body>
