<div class="pdf_viewer" data-url="<%= url %>">
  <canvas id='pdf-canvas'></canvas>

  <div class="navigation hidden">
    <div id='previous_page_button' class="btn btn-default" href="#">Vorherige Seite</div>

    <span id='page_count_label'>Seite ? von ?</span>

    <div id='next_page_button' class="btn btn-default" href="#">Nächste Seite</div>
  </div>
</div>
