<div class="row">
  <div class="col-md-8"><%= employee.name %></div>
  <div class="col-md-4">
     <%= link_to t('resources.edit', resource: Employee.model_name.human), edit_employee_path(employee), class: 'btn btn-default' %> 
  </div>
</div>
