.main {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 27px;
  overflow: visible !important;

  width: 205mm;

  .row {
    float: left;
    width: 100%;
  }

  .address {
    float: right;
    width: 300px;

    .confidential_header {
      font-weight: 900;
    }
  }

  .infos {
    width: 100%;
    line-height: 1.1em;
    height: 8em;
  }

  .title {
    height: 24px;
    width: 100%;
    border-bottom: solid black 1px;
    margin-bottom: 14px;
    padding-bottom: 8px;

    .invoice {
      font-size: 1.4em;
      font-weight: 900;
      letter-spacing: 3px;
    }

    .invoice_title {
      padding-left: 3px;
    }
  }

  .efforts {
    width: 100%;
    margin-bottom: 8px;
  }

  .header-row {
    font-weight: 900;
    font-size: 110%;
    height: 90%;
    text-align: left;
  }

  .efforts-row, .totals {
    width: 100%;

    td {
      padding: 0;
      vertical-align: top;
    }

    td.amount {
      width: 8.5em;
      text-align: right;

      .currency_symbol {
        float: left;
      }
    }

    .hourly_rate, .hours {
      width: 50px;
      padding-left: 2px;
    }

    td.equal_sign {
      width: 1.3em;
      text-align: center;
    }

    .last-expense {
      border-bottom: solid black 1px;
    }

    .vat_amount {
      .amount {
        border-bottom: solid black 1px;
      }
    }

    tr.total_amount {
      font-weight: 900;

      .label {
        font-size: 110%;
      }

      .wir_amount {
        font-weight: normal;
      }

      .amount {
        border-bottom: solid black 2px;
      }
    }

    td.netto {
      text-align: right;
      padding-top: 5px;
    }
  }

  tr, .stay_together {
    page-break-inside: avoid;
    height: 2em;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    padding-top: 3px;

    line-height: 1.3em;
    margin-bottom: 1px;
  }

  .confidential_supplement {
    page-break-before: always;

    .title {
      font-size: 1.3em;
      font-weight: 900;
      letter-spacing: 2px;
      border: 0;
    }

    .subtitle {
      font-size: 1.1em;
      font-weight: 900;
      letter-spacing: 2px;
      border-bottom: solid black 1px;
    }

    .efforts-row {
      padding-top: .3em;
      padding-bottom: .3em;
    }
  }

  .pagebreak {
    page-break-before: always;
  }
}
