.op_lists-new {
  .filter-row{
    .col-md-4 {
      width: 300px;
    }
  }
  .management {
    width: 100%;

    .customer {
      width: 16em;
    }

    .amount {
      width: 10em;

      text-align: right;
    }

    .period {
      width: 18em;
    }

    .employees {
      .highlighted_employee {
        font-weight: bold;
      }
    }

    .overdue {
      width: 1em;

      i {
        color: red;
      }
    }

    .actions {
      width: 12em;
    }
  }
}
