<div class="col-md-4"/>
  <%= form.input :customer, label: false,
                            collection: Customer.where(id: @filter.customer),
                            input_html: { class: 'filter_customer_select', multiple: 'multiple' },
                            placeholder: t('shared.filter_for',
                                           model: Customer.model_name.human(count: 2)) %>
</div>
