<div class="col-md-2 date-filter"/>
  <%= form.input :from, as: :filter_date_picker,
                        label: false,
                        placeholder: t('shared.from') %>
</div>
<div class="col-md-2 date-filter"/>
  <%= form.input :to, as: :filter_date_picker,
                      label: false,
                      placeholder: t('shared.to') %>
</div>
