<div class="row">
  <div class="col-md-4"><%= expense.text %></div>
  <div class="col-md-4"><%= expense.amount %></div>
  <div class="col-md-4">
    <%= link_to t('resources.edit', resource: Expense.model_name.human),
      edit_expense_path(expense), class: 'btn btn-default' %>
  </div>
</div>
